* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

#header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: black;
  color: wheat;
  align-items: center;
  max-width: 100%;
}

#titulo {
  display: flex;
  padding: 20px;
  flex-flow: row wrap;
  justify-content: center;
}

#titulo p {
  font-family: 'Ubuntu';
  font-size: 30px;
}

#grid-tech-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  max-width: 800px;
  margin: 20px auto;
}

#grid-tech-container div {
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 30px;
  margin: 5px;
}
#grid-tech-container h4 {
  text-align: center;
  padding: 20px 0;
}

#footer-container {
  display: flex;
  max-width: 20%;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
  border-top: 3px solid rgb(221, 221, 221);
}