[submodule "modulo.2-FrontEnd/B.12/modulo.2-FrontEnd/B.12/aula-12.1/exercicios-bloco/exercise-dog-image"]
	path = modulo.2-FrontEnd/B.12/modulo.2-FrontEnd/B.12/aula-12.1/exercicios-bloco/exercise-dog-image
	url = git@github.com:rafaelPermec/exercise-dog-image.git
