* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  body {
    background-color: rgb(247, 247, 247);
  }
  
  .header-container {
    background-color: #2f3133;
    display: flex;
    align-self: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    order: -1;
    flex-basis: 268px;
  }
  
  .menu-container {
    display: flex;
    flex-basis: 500px;
    flex-grow: 3;
  }
  
  .menu-container ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self: center;
  }
  
  .menu-container li {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-container {
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    flex-grow: 10;
  }
  
  .movie-container h2 {
    margin: 40px 0;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-container div {
    align-items: center;
    color: white;
    background-color: #2f3133;
    border: black solid 1px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 10px;
    flex-basis: 16%;
    flex-grow: 1;
  }
  
  .aside-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-basis: 350px;
    flex-grow: 4;
    align-self: center;
  }
  
  .aside-container h3, h4 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .aside-container p {
    margin: 10px 0;
    text-align: justify;
  }