
body {
    font-family: monospace;
}
p {
    font-size: 12px;
    color: #000000;
}
#fotoBro {
    filter: grayscale(0.5);
    width: 75px;
}
#lista {
    color: rgb(121, 121, 121);   
}

.trybe-green {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 121, 0);
}
#opinions {
    display: inline;
}
img {
    border-radius: 30px;
    border-width: 200px;
}
a {
   color: white;
   background-color:rgb(95, 150, 95);
    padding: 10px;
    text-decoration: 0;
    border-radius: 30px;
    margin: 120px;