
  body {
      font-size: 16px;
    }

  h1 {
    font-size: 65px;
    color: rgb(121, 65, 28);
    font-family: sans-serif;
  }

  p {
      font-weight: 600px;
      font-size: 42px;
      line-height: 30px;
      text-align: center;
  }

  li {
        background-color: rgb(121, 65, 28);
  }

  .mod1 {
        background-color: royalblue;
        font-style: italic;
        text-decoration: dashed;
  }
